<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @quilometragem.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @quilometragem.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @quilometragem.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @quilometragem.city %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @quilometragem.addres %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quilometragem.client %>
</p>

<p>
  <strong>Board:</strong>
  <%= @quilometragem.board %>
</p>

<p>
  <strong>Startingkm:</strong>
  <%= @quilometragem.startingkm %>
</p>

<p>
  <strong>Finalkm:</strong>
  <%= @quilometragem.finalkm %>
</p>

<%= link_to 'Edit', edit_quilometragem_path(@quilometragem) %> |
<%= link_to 'Back', quilometragems_path %>
