<h1>Entrar</h1>

<%= form_with url: sign_in_path do |form|%>
<div class="mb-3">
    <%= form.label :email%>
    <%= form.text_field :email, class:"form-control", placeholder: "Digite seu e-mail" %>
    </div>
    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control", placeholder: "Digite sua senha " %>
    </div>

    <div class="mb-3">
        <%= form.submit "Acessar", class:"btn btn-primary" %> 
        
        </div>
<% end %>