<h1>Cadastre-se</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <% if @user.errors.any? %>
<div class="alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
<div>
    <%= message %>
</div>
    <% end %>
    </div>
<% end %>

<div class="mb-3">
    <%= form.label :email%>
    <%= form.text_field :email, class:"form-control", placeholder: "Digite seu email, ex: portalsolar@portalsolar.com.br" %>
</div>
<div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control", placeholder: "Digite a senha desejada" %>
</div>
<div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirme a senha digitada" %>
</div>
<div class="mb-3">
    <%= form.submit "Criar usuário", class:"btn btn-primary" %> 
</div>

<% end %>   